.PDF {
    width: 40%;
    height:350px;
    border:1px solid #e4cfcfd1;

}

.psd-container{
    width: 100%;
    margin-top: 50px;
    float: left;
    box-sizing: border-box;
}

.psd-container .mainDiv {
    width: 33.3333%;
    float: left;
}

.leftPosition {
    width: 20%;
    float: left;
    border:1px solid black;
    box-sizing: border-box;
}

.rightPosition {
    width: 50%;
    float: left;
    box-sizing: border-box;

}

.psd-container .mainDiv a{
    display: block;
    padding: 20px;
}

.psd-container .mainDiv span,.psd-container .mainDiv img{
    display: inline-block;
    width: 30%;
}

.pdficon {
    width: 5px;
    float: left;

}
.btnss {
    margin-right:5px;
}


.files__item {
    display: block;
    margin: 0 30px 30px;
    color: black;
    -ms-flex: 0 0 calc(50% - 60px);
    flex: 0 0 calc(50% - 60px);
}

.files__item:hover .files__title {
    color: #607CD6;
    text-decoration: underline;
}

.files__item {
    margin: 0 0 20px;
}

.files__row {
    display: -ms-flexbox;
    display: flex;
}

.files__preview {
    margin-right: 20px;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
}

.files__pic {
    display: block;
    max-width: 100%;
}

.files__subtitle {
    margin-bottom: 5px;
    padding-top: 3px;
    font-size: 12px;
    font-weight: 500;
}

.files__title {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.35294;
}

.files__title {
    font-size: 15px;
}

.files__item:hover .files__title {
    color: #607CD6;
    text-decoration: underline;
}

.files__location, .files__date {
    margin-top: 10px;
}

.files__date {
    font-size: 13px;
    color: #082894;
}

.pointer {cursor: pointer;}
