.lng-block .dropdown-menu {
    min-width: unset !important;
}

.hidden{
    display: none;
}
.feedback__done{
    margin-top: 0px;
    margin-bottom: 30px;
}
.pointer {cursor: pointer;}
.back-img {
    background-image: url("../img/Haritonov.jpg");
    border-radius: 50%;
    background-size: cover;

}

.back_img_3 {
    background-image: url("../img/VanRijt.png");
    border-radius: 50%;
    background-size: cover;
}

.img_back_andrey {
    background-image: url("../img/Andrey.png");
    border-radius: 50%;
    background-size: cover;
}

.backkopeykin {
    background-image: url("../img/kopeykins.jpg");
    border-radius: 50%;
    background-size: cover;
}

.people__weight{
    color: #1c39aa;
    font-weight: 600;
    font-size: 13px;
}

.Rojkova {
    background-image: url("../img/Rojkova.JPG");
    border-radius: 50%;
    background-size: cover;
}

.imgmariam {
    background-image: url("../img/mariam.jpg");
    border-radius: 50%;
    background-size: cover;
}

.imgeliza {
    background-image: url("../img/eliza.jpg");
    border-radius: 50%;
    background-size: cover;
}

.imglabazanovas {
    background-image: url("../img/labazanova.jpg");
    border-radius: 50%;
    background-size: cover;
}

.seanat {
    background-image: url("../img/seanat.jpg");
    border-radius: 50%;
    background-size: cover;
}

.imgAlexandrova {
    background-image: url("../img/alexandrova.JPG");
    border-radius: 50%;
    background-size: cover;
}

.Shaxidova {
    background-image: url("../img/Shakidova.jpg");
    border-radius: 50%;
    background-size: cover;
}
.start__centerShow {
    display: none;
}