.PDF {

    width: 150px;
    height:150px;
    border:1px solid black;
}
.fa-pencil {
    cursor: pointer !important;
}
.btn-primary {
    float: right !important;

}

.btn-circle {
    float: right !important;
}
.edit-del{
    width: 10px;
}

img {

}



/*
.mainDiv {
    width: 80%;
    margin: 0 auto;

}

.witths {

    width: 50%;
}*/
